<html>
<head>
	<title>A novel approach for classification using clustering</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
	<!--<
	<link rel="stylesheet" href="css/style.css" type="text/css">
	-->
</head>
<body>
	<div id="header">
			<div>
				<span>A healthy heart means a healthy life...</span>
				<a href="home" class="logo"><img src="{{ url_for('static', filename='images/logo.png')}}" alt=""></a>
				<!--
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
				-->
				<span class="tagline">Experience life to the fullest.</span>
			</div>
			<ul>
				<li>
					<a href="home">Home</a>
				</li>
				<li>
					<a href="about">About Us</a>
				</li>
				<li>
					<a href="diseasePrediction">Disease Prediction</a>
				</li>
				<li class="selected">
					<a href="heartDiseasePrediction">Heart Disease Prediction</a>
				</li>
				
			</ul>
	</div>
	<div id="body">
		<form action="heartDisease" method="POST">
			<div class="login">
			
				<label for="nam"> Name </label>
				<input type="text" name="nam" id="nam" placeholder="Enter your name" tabindex="1" required title="Your name" ><br><br><br>
				
				<label for="age"> Age </label>
				<input type="text" name="age" id="age" placeholder="Enter your age" tabindex="1" required ><br><br><br>
				
				<label for="sex"> Sex </label>
				<select name="sex" id="sex" tabindex="2" >
					<option value=1.0> Male </option>
					<option value=0.0> Female </option>
				</select><br><br><br>
				
				<label for="chestPain"title="Angina is chest pain or discomfort caused when your heart muscle doesn't get enough oxygen-rich blood."> Chest Pain </label>
				<select name="chestPain" id="chestPain" tabindex="3" title="Angina is chest pain or discomfort caused when your heart muscle doesn't get enough oxygen-rich blood.">
					<option value=1.0> Typical type 1 angina </option>
					<option value=2.0> Typical type angina </option>
					<option value=3.0> Non-angina pain </option>
					<option value=4.0> Asymptomatic </option>
				</select><br><br><br>
				
				<label for="restingBP"> Resting blood pressure </label>
				<input type="text" name="restingBP" id="restingBP" placeholder="Enter your Resting blood pressure" tabindex="4" required title="Your BP"><br><br><br>
				
				<label for="cholestoral"title="Your total serum cholesterol consists of high-density lipoprotein, or HDL cholesterol; low-density lipoprotein, or LDL cholesterol; and triglycerides. Levels are reported in milligrams per deciliter of blood, or mg/dL."> Serum cholestoral </label>
				<input type="text" name="cholestoral" id="cholestoral" placeholder="Enter your Serum cholestoral" tabindex="5" required title="Your total serum cholesterol consists of high-density lipoprotein, or HDL cholesterol; low-density lipoprotein, or LDL cholesterol; and triglycerides. Levels are reported in milligrams per deciliter of blood, or mg/dL."><br><br><br>
				
				<label for="sugar" title="Fasting, as the name suggests, means refraining from eating of drinking any liquids other than water for eight hours."> Fasting blood sugar </label>
				<select name="sugar" id="sugar" tabindex="5" title="Fasting, as the name suggests, means refraining from eating of drinking any liquids other than water for eight hours.">
					<option value=1.0> Greater than 120 mg/dl </option>
					<option value=0.0> Less    than 120 mg/dl </option>
				</select><br><br><br>
				
				<label for="electroCardiographic"title="An electrocardiogram (EKG or ECG) is a test that checks for problems with the electrical activity of your heart. An EKG shows the heart's electrical activity as line tracings on paper. The spikes and dips in the tracings are called waves."> Resting electrocardiographic results </label>
				<select name="electroCardiographic" id="electroCardiographic" tabindex="6" >
					<option value=0.0> Normal </option>
					<option value=1.0> 1 having ST-T wave abnormality </option>
					<option value=2.0> Showing probable or definite left ventricular hypertrophy </option>
				</select><br><br><br>
				
				<label for="maximumHeartRate" title="A person's target heart rate should be 50 to 70% of his or her maximum heart rate. This maximum rate is based on the person's age. An estimate of a person's maximum age-related heart rate can be obtained by subtracting the person's age from 220."> Maximum heart rate achieved </label>
				<input type="text" name="maximumHeartRate" id="maximumHeartRate" placeholder="Enter your Maximum Heart Rate " tabindex="7" required title="A person's target heart rate should be 50 to 70% of his or her maximum heart rate. This maximum rate is based on the person's age. An estimate of a person's maximum age-related heart rate can be obtained by subtracting the person's age from 220."><br><br><br>
				
				<label for="angina"title="Do you get chest discomfort with activity?"> Exercise induced angina </label>
				<select name="angina" id="angina" tabindex="5" >
					<option value=1.0> No  </option>
					<option value=0.0> Yes </option>
				</select><br><br><br>
				
				<label for="oldpeak" title="st depression induced by exercise relative to rest"> Oldpeak </label>
				<input type="text" name="oldpeak" id="oldpeak" placeholder="Enter your oldpeak " tabindex="8" required title="st depression induced by exercise relative to rest"><br><br><br>
				
				<label for="slope" title="the slope of the peak exercise ST segment"> Slope </label>
				<select name="slope" id="slope" tabindex="3" >
					<option value=3.0> Downsloping </option>
					<option value=1.0> Unsloping </option>
					<option value=2.0> Flat </option>
				</select><br><br><br>
				
				<label for="majorVessels" title="number of major vessels (0-3) colored by flourosopy"> Number of major vessels </label>
				<input type="text" name="majorVessels" id="majorVessels" placeholder="Enter no. of major vessels " tabindex="9" required title="number of major vessels (0-3) colored by flourosopy"><br><br><br>
				
				<label for="thal" title="Thalassemias are inherited blood disorders characterized by abnormal hemoglobin production.A thallium heart scan is used to evaluate the blood supply to the heart muscle"> Thal </label>
				<select name="thal" id="thal" tabindex="3" >
					<option value=3.0> Normal </option>
					<option value=6.0> Fixed </option>
					<option value=7.0> Reversible defect </option>
				</select><br><br><br>
				
				<!--<label for="algorithm"> Algorithm </label>
				<select name="algorithm" id="algorithm" tabindex="3" >
					<option value="knn"> k NN </option>
					<option value="naiveBayesClassifier"> Naive Bayes Classifier </option>
					<option value="classificationUsingClustering"> Classification Using Clustering </option>
				</select><br><br><br>
				-->
				
			<br><br><input type="submit">
		
		</div>
			
			
		</form>
		
		
	</div><br><br><br><br>
	
		{% if rname %}
		Dear {{rname}} , 
		
		
	
  <table border="1">
    <tr>
    <th>Algorithm</th>
    <th>Accuracy</th>
    <th>Prediction Result</th>
    </tr>
    <tr>
     <td>k NN</td>
     <td>{{knnaccuracy}}</td>
     <td>{{knnresult}}</td>
    </tr>
    <tr>
     <td>Naive Bayes classifer</td>
     <td>{{naccuracy}}</td>
     <td>{{nresult}}</td>
    </tr>
    <tr>
     <td>Classification Using Clustering</td>
     <td>{{caccuracy}}</td>
     <td>{{cresult}}</td>
    </tr>
	

  <td>
  </td>
  </tr>
  </table>
  
{% endif %}
		

		<br>
		<br>
<br><br><br>
	<div class="fotter">
		<div>

				<center>
			
				Copyright &copy; MG College
				</center>
			
			
		</div>
	</div>
	<br><br>
	
</body>
</html>