<html>
<head>
	<title>A novel approach for classification using clustering</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
	<!--<
	<link rel="stylesheet" href="css/style.css" type="text/css">
	-->
</head>
<body>
	<div id="header">
			<div>
				<span>A healthy heart means a healthy life...</span>
				<a href="home" class="logo"><img src="{{ url_for('static', filename='images/logo.png')}}" alt=""></a>
				<!--
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
				-->
				<span class="tagline">Experience life to the fullest.</span>
			</div>
			<ul>
				<li class="selected">
					<a href="home">Home</a>
				</li>
				<li>
					<a href="about">About Us</a>
				</li>
				<li>
					<a href="diseasePrediction">Disease Prediction</a>
				</li>
				<li>
					<a href="heartDiseasePrediction">Heart Disease Prediction</a>
				</li>
				
			</ul>
	</div>
	<div id="body">
		<div class="header">
			<div>
				<img src="{{ url_for('static', filename='images/biking.jpg')}}" alt="">
				<!--
				<img src="images/biking.jpg" alt="">
				-->
			</div>
		</div>
	
	</div>
	
	<div class="hrt">
	<h3><u>Heart Attack (Myocardial Infarction)</u></h3>
	<p>
		A heart attack (myocardial infarction) is usually caused by a blood clot, which stops the blood flowing to a part of your heart muscle.  Treatment with a clot-busting medicine or an emergency procedure to restore the blood flow through the blocked blood vessel are usually done as soon as possible. This is to prevent or minimise any damage to your heart muscle. Other treatments help to ease the pain and to prevent complications. Reducing various risk factors can help to prevent a heart attack.
	
	<br><br>
	<h3><u>What happens to your heart with a heart attack?</u></h3>
	<p>
		If you have a heart attack, a coronary artery or one of its smaller branches is suddenly blocked. The part of the heart muscle supplied by this artery loses its  blood 
		{and oxygen) supply if the vessel is blocked. This part of the heart muscle is at risk of dying unless the blockage is quickly removed. When a part of the heart muscle
		is damaged it is said to be infarcted. The term myocardial infarction (MI) means damaged heart muscle. 
	
		If a main coronary artery is blocked, a large part of the heart muscle is affected. If a smaller branch artery is blocked,a smaller amount of heart muscle is affected.
		After a heart attack, if part of the heart muscle has died, it is replaced by scar tissue over the following few weeks.
	
	<br><br>
	<h3><u>What causes a heart attack?</u></h3>
	<p>
	The most common cause of a heart attack is a blood clot that forms inside a coronary artery, or one of its branches. This blocks the blood flow to a part of the heart.

	Blood clots do not usually form in normal arteries. However, a clot may form if there is some atheroma within the lining of the artery. Atheroma is like fatty patches or plaques that develop within the inside lining of arteries. (This is similar to water pipes that get furred up.) Plaques of atheroma may gradually form over a number of years in one or more places in the coronary arteries. Each plaque has an outer firm shell with a soft inner fatty core.

	What happens is that a crack develops in the outer shell of the atheroma plaque. This is called plaque rupture. This exposes the softer inner core of the plaque to blood. This can trigger the clotting mechanism in the blood to form a blood clot. Therefore, a build-up of atheroma is the root problem that leads to most cases of ACS. (The diagram below shows four patches of atheroma as an example. However, atheroma may develop in any section of the coronary arteries.)
	<br><br>
	<center>
	<img class="imageheart" src="{{ url_for('static', filename='images/heartdraw.jpg')}}" alt="">
	</center>
	<br><br>
	<h3><u>What are the symptoms of a heart attack?</u></h3>
	<p>
	The most common symptom is severe chest pain, which often feels like a heavy pressure feeling on your chest. The pain may also travel up into your jaw and down your left arm or down both arms. You may also sweat, feel sick and feel faint. You may also feel short of breath. The pain may be similar to angina, but it is usually more severe and lasts longer. (Angina usually goes off after a few minutes. Heart attack pain usually lasts more than 15 minutes - sometimes several hours.)

	However, some people have only a mild discomfort in their chest. The pain can sometimes feel like indigestion or heartburn.

	Occasionally, a heart attack happens without causing any pain. This is usually diagnosed when you have a heart tracing (electrocardiograph, or ECG) at a later stage.

	Some people collapse and die suddenly, if they have a large portion of heart muscle damaged. This is not very common.
	
	</div>
	<div class="fot">
	
	</div>
	<br><br>
	<div class="fotter">
		<div>

				<center>
			
				Copyright &copy; MG College
				</center>
			
			
		</div>
		<br><br>
	</div>
</body>
</html>